@import "./tokens.css";
/* 
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

body {
    background-color: #3bbca5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}