:root{
  --background-color: #F1F1F1;
  --base-text-color: rgb(60, 60, 60);
  --base-text-fade: rgba(0, 0, 0, 0.55);
  --creepy-pink: #EF8181;
  --light-text-color: #2E2E39;
  --dark-background-color: #0D1117;
  --dark--text-color: #C9D1D9;
  --grey-background: #F6F8FA;
  --beige-background: #F7F1EB;

  --red-base: rgba(236, 50, 96, 0.9);
  --red-base-fade: #F3797A;
  --light-brown: #EAE6DD;
  --yellow: #E8BD79;
  --yellow-light: #EACA97;
  --mint-green: #9FB9B2;

  --blue: #909BB0;
  --pink: #E390A3;
  --green: #9BB4AA;

  font-family: "Manrope", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}