---

---

<div class="czarusia-wrapper">
  <p>Czarusia header placholder</p>
</div>

<style>
  .czarusia-wrapper {
    height: 600px;
    width: 100%;
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #243b55,
      #141e30
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #243b55,
      #141e30
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .czarusia-wrapper p {
    font-size: 32px;
    color: white;
    font-family: 'Manrope';
    font-weight: 300;
  }
</style>

<script>
  const btn = document.getElementById("btn");
  const wynik = document.getElementById("wynik");

  btn.addEventListener("click", () => {
    wynik.textContent = "Kliknięto!";
  });

  const sentence = "hello mom";
  let numberOfEggs = 3;
  // numberOfEggs = 8;

  let totalGroceries = numberOfEggs + 7;

  console.log(sentence);
  console.log(numberOfEggs);
  console.log(totalGroceries);

  let friends = {
    james: "super cool",
    lucy: "isn't so cool",
    yourNumber: 7,
  };
  console.log(friends);

  let metallicaAlbums = [
    1983, 1985, 1986, 1988, 1991, 1996, 1997, 1998, 2004, 2007,
  ];

  function myFirstFunction() {
    console.log(metallicaAlbums);
  }
  myFirstFunction();

  function mySecondFunction(value, secondValue) {
    console.log(value * secondValue);
  }
  mySecondFunction(7, 7);

  let condition1 = true;
  let condition2 = false;
  console.log(condition1 || condition2);

</script>