---
import BobekLanding from "../assets/imagesbobek-landing-01.png";
---

<div class="landing">
  <div class="landing__wrapper">
    <div class="bobek__landing__image"></div>
    <div class="landing__text__wrapper"></div>
  </div>
    
</div>

<style>

  .landing {
    width: 100%;
    height: 600px;
    margin-top: 60px;;
    background: linear-gradient(to bottom, #3bbca5, #3ea290);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .landing__wrapper {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    background-color: salmon;
    display: flex;
    justify-content: space-around;
  }

  .bobek__landing__image {
    height: 530px;
    margin-top: auto;
    width: 389px;
    
  }

  .landing__text__wrapper {
    width: 100%;
    max-width: 700px;
    height: 400px;
    background-color: lightpink;
    margin: auto 0;
  }


</style>
