---
import BehanceLogo from "../assets/icons/behance-logo.astro";
import InstagramLogo from "../assets/icons/instagram-logo.astro";
import BWLogo from "../assets/icons/bw-logo-25px-42px.svg";
---

<!-- ======================== HEADER ====================== -->
<header class="header">
  <nav class="nav container">
    <div class="nav__data">
      <a href="#" class="nav__logo">
        <img
          src={BWLogo.src}
          width={BWLogo.width}
          height={BWLogo.height}
          alt="BW logo"
        />
      </a>
      <div class="nav__toggle" id="nav-toggle">
        <i class="ri-menu-2-line nav__burger"></i>
        <i class="ri-close-line nav__close"></i>
      </div>
    </div>

    <!-- ======================== NAV MENU ====================== -->

    <div class="nav__menu" id="nav-menu"></div>
  </nav>
</header>

<!-- ======================== END OF HEADER ====================== -->

<style>
  @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

    /* ======================= VARIABLES ====================== */
  :root {
    --header-height: 3.5rem;
  }
    /* ======================= END OF VARIABLES ====================== */

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow:
      0 1px 0 rgba(0, 0, 0, 0.04),
      0 8px 24px rgba(0, 0, 0, 0.06);
    z-index: 1000;
  }

  /* ======================= NAV ====================== */

  .nav {
    height: var(--header-height);
  }

  
</style>
